[Unit]
Description=Daemon to kill docker containers running root processes
After=docker.service

[Service]
Type=simple
ExecStart=/bin/bash -c /usr/local/bin/docker-root-killer.sh
ExecStop=/bin/kill -9 $MAINPID

[Install]
WantedBy=multi-user.target

